@media only screen and (max-device-width: 1023px),
only screen and (max-width: 1023px) {
    
    .content-container {
        width: 100%;
        grid-template-areas:
            "b"
            "w"
            "c";
    }

    @media (orientation: portrait) {
        .content-container {
            grid-template-rows: 10vh 70vh 20vh;
        }
    }

    @media (orientation: landscape) {
        .content-container {
            grid-template-rows: 10vw 70vw 20vw; 
        }
    }

    .menu-container {
        padding: 1rem;
    }

    .nav-items {
        display: none;
    }

    #hamburger {
        float: right;
    }
}